@font-face {
    font-family: "Pridi";
    src: url("../fonts/Pridi/Pridi-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
.statusBarStatus {
    font-family: "Pridi", serif;
    display: flex;
    justify-content: space-between;
    background-color: #182628;
    padding-inline: 5%;
    color: white;
    font-size: 25px;

}
.statusBarLeft {
    display: flex;
    flex-direction: row;
}
.statusBarTime {
    font-size: 63px;
    padding-inline: 15%;
}

.statusBarDays {
    padding-top: 10px;
    justify-content: center;
}
.statusBarWeek {
    padding-top: 25px;
}