.container {
    width: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.dailyScheduleMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dailyScheduleP {
    margin-inline: 10px;
    padding-inline: 3px;

    border: 1px solid #cccccc;
    border-radius: 3px;
}

.dailyScheduleButton {
    background-color: lightslategrey; /* Green */
    border-radius: 2px;
    padding-inline: 10px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}