/*.container {*/
/*    width: auto;*/
/*    padding-left: 0px;*/
/*    padding-right: 0px;*/
/*}*/

/*.row {*/
/*    margin-left: 0px;*/
/*    margin-right: 0px;*/
/*}*/

/*.col {*/
/*    padding-left: 0px;*/
/*    padding-right: 0px;*/
/*}*/

/*.onAllPage {*/
/*    max-width: none;*/
/*    padding-inline: 10%;*/

/*}*/

/*.currentClass {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 30px;*/
/*    text-align: center;*/

/*}*/

/*.imageClass {*/
/*    margin-left: 10%;*/
/*}*/

/*.currentClassInform {*/
/*    padding-right: 20px;*/
/*    min-width: 250px;*/
/*}*/

/*.currentClassP {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*.statusBar {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    padding-bottom: 5px;*/
/*    padding-top: 5px;*/
/*    padding-left: 10%;*/
/*}*/


/*.statusBarSearchAndInput {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: flex-start;*/
/*    width: 30%;*/
/*    margin-left: 20%;*/
/*}*/


/*.statusBarCurrentTime {*/
/*    padding-right: 20px;*/
/*}*/

/*.statusBarCurrentDay {*/
/*    padding-right: 20px;*/
/*}*/


/*.statusBarInput {*/
/*    border: 1px solid #cccccc;*/
/*    border-radius: 3px;*/
/*    -webkit-border-radius: 3px;*/
/*    -moz-border-radius: 3px;*/
/*    background: #ffffff !important;*/
/*    outline: none;*/
/*    height: 18px;*/
/*    width: 200px;*/
/*    color: black;*/
/*    font-size: 11px;*/
/*}*/

/*.statusBarSearchButton {*/
/*    background-color: lightslategrey; !* Green *!*/
/*    border-radius: 2px;*/
/*    padding-inline: 10px;*/
/*    margin-left: 20px;*/
/*    border: none;*/
/*    color: white;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 16px;*/

/*}*/

/*.brdClass {*/
/*    border-bottom: 1px solid black;*/
/*    min-width: 800px;*/
/*}*/

/*.brdColClass {*/
/*    border-right: 1px solid black;*/
/*    padding-left: 3px;*/
/*}*/

/*.dailyScheduleMain {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/

/*.dailyScheduleP {*/
/*    margin-inline: 10px;*/
/*    padding-inline: 3px;*/

/*    border: 1px solid #cccccc;*/
/*    border-radius: 3px;*/
/*}*/

/*.dailyScheduleButton {*/
/*    background-color: lightslategrey; !* Green *!*/
/*    border-radius: 2px;*/
/*    padding-inline: 10px;*/
/*    border: none;*/
/*    color: white;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*    font-size: 16px;*/
/*}*/