# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.schedule.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\study\firstCourse\schedule\.idea\.idea.schedule.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
