@font-face {
    font-family: "Pridi";
    src: url("../../assets/fonts/Pridi/Pridi-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

table {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
    width: 90%;
    margin-inline: 5%;

    font-family: "Pridi", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;

    line-height: 31px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
}

th {
    padding: 3px;
    border: 1px solid black;
}
@media screen and (max-width: 1060px) {

    table {
        font-size: 2vw;
    }
}