# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Schedule.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\study\firstCourse\schedule\.idea\.idea.Schedule\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
