@font-face {
    font-family: "Pridi";
    src: url("../../fonts/Pridi/Pridi-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

.currentClassDiscipline {
    font-family: "Pridi", serif;
    padding-inline: 5%;
    display: flex;
    overflow:  hidden;
}


/*left panel*/
.currentClassInfo {
    margin-right: 5%;
}

.currentClassNumber {
    font-size: 60px;
    text-decoration-line: underline;
    text-align: center;
}

.currentClassName {
    font-size: 40px;
}

.currentClassGroups {
    font-size: 30px;

}

.currentClassTeacher {
    font-size: 35px;
}


/* right panel*/
.currentClassTimes {
    margin-top: 9%;
}

.currentClassTime {
    padding-inline: 0;
    font-size: 50px;

}

.currentClassStart {
    font-size: 25px;
}